@using SwimmingPool_V1.ViewModels;
@model IEnumerable<Reservation>

@{
    ViewData["Title"] = "Reservation";
}

<h1>Your current reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Lane</th>
            <th scope="col">Type</th>
            <th scope="col">Created</th>
            <th scope="col">Location</th>
            <th scope="col">Pool Name</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model)
        {
            <tr>
                <td>@item.LaneId</td>
                <td>@item.Type</td>
                <td>@item.DateTime</td>
                <td>@item.Pool.Location</td>
                <td>@item.Pool.PoolName</td>
                <td>
                    <a asp-controller="Reservation" asp-action="Delete" asp-route-id="@item.ReservationId" class="btn btn-sm btn-danger text-light">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>